.btn {
  align-items: center;
  background-color: var(--color-bg-hover);
  border: none;
  border-radius: var(--radius);
  box-shadow: none;
  cursor: pointer;
  display: flex;
  inline-size: fit-content;
  padding: var(--space-2xs) var(--space-s);
  transition: transform 0.1s linear;

  &[data-action="user-theme"] {
    circle {
      fill: var(--color-text);
    }

    path {
      fill: var(--color-bg-hover);
    }
  }

  &:active {
    transform: translateY(1px);
  }
}

.icon-btn {
  background-color: var(--color-bg);
  border-radius: 50%;
  padding: var(--space-2xs);
  padding: 0;
}