.section-heading {
  font-family: var(--font-mono);
  font-size: var(--font-size-section-heading);
  font-weight: 400;
  margin-block-end: calc(var(--space-2xs) * 1.125);
  margin-block-start: var(--space-l-xl);
  text-transform: uppercase;

  &:first-child {
    margin-block-start: 0;
  }
}

.post-list {
  clip-path: inset(-100% 0 -100% -100%);
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-item {
  border-bottom: 1px solid var(--color-border);
  margin-block: 0 !important;
  position: relative;

  * {
    color: inherit;
    margin-block: 0;
  }
}

[data-upcoming="false"]:has(+ [data-upcoming="true"]) {
  color: var(--color-accent);

  &::before {
    align-items: center;
    block-size: 100%;
    color: var(--color-accent);
    content: "►";
    display: flex;
    font-size: var(--font-size--1);
    font-family: var(--font-mono);
    position: absolute;
    left: -1.25ch;
  }

  &:hover,
  &:focus-within {
    * {
      color: var(--color-accent);
    }
  }
}

.post-item__link {
  align-items: flex-start;
  column-gap: var(--space-xs-2xl);
  flex-wrap: nowrap;
  padding-block: calc(var(--space-2xs) * 1.125);
  row-gap: 0;
  white-space: nowrap;
  text-decoration: none;
  transition: 0.1s linear;

  > * {
    margin-block: 0 !important;
    transition: transform 0.2s var(--ease-authentic);
  }

  &:hover,
  &:focus-visible {
    background-color: var(--color-bg-hover);
    color: var(--color-text);
  }

  &:active {
    background-color: color-mix(in srgb, var(--color-bg-hover) 90%, black 10%);
  }
}

@media (hover: hover) and (min-width: 500px) {
  .post-item__link {
    &:hover,
    &:focus-visible {
      > * {
        transform: translateX(1ch);
      }
    }
  }
}

.post-item__meta {
  font-family: var(--font-mono);
  font-size: var(--font-size-meta);
  font-weight: 400;
  line-height: 1;
}

.post-item__title {
  font-family: var(--font-sans-display);
  font-size: var(--font-size-meta);
  font-weight: 700;
  line-height: 1;
}
