.prose {
  letter-spacing: var(--letter-spacing-prose-l);
  margin-block-start: var(--space-m);
  margin-inline: auto;
  max-inline-size: var(--measure);
  overflow: hidden;

  @media (min-width: 500px) {
    max-inline-size: min(var(--measure), 85vw);
  }

  h2 {
    inline-size: fit-content;
    font-family: var(--font-mono);
    font-size: var(--font-size-section-heading);
    font-weight: 400;
    position: relative;
    overflow: visible;
    text-transform: uppercase;

    &::after {
      border-block-end: 1px dotted var(--color-text);
      content: "";
      flex-grow: 1;
      margin-block-end: 0.225em;
      display: block;
      bottom: 0;
      position: absolute;
      inline-size: 100vw;
      z-index: -1;
      left: calc(100% + var(--space-3xs));
    }
  }

  > p:first-of-type:first-line {
    font-family: var(--font-serif-display);
  }

  blockquote {
    border-left: 1.5px solid var(--color-text);
    margin-inline: 0;
    padding-inline-start: min(var(--site-gutter), var(--space-s));

    > *:first-child {
      margin-block-start: 0;
    }
  }

  #readings {
    + ul {
      list-style: none;
      padding: 0;
    }
  }
}