.prose {
  margin-block-start: var(--space-m);
  overflow: hidden;

  h2 {
    inline-size: fit-content;
    font-size: var(--font-size-1);
    position: relative;
    overflow: visible;

    &::after {
      border-block-end: 1px dotted var(--color-text);
      content: "";
      flex-grow: 1;
      margin-block-end: 0.25em;
      display: block;
      bottom: 0;
      position: absolute;
      inline-size: 100vw;
      z-index: -1;
      left: calc(100% + var(--space-3xs));
    }
  }

  #readings {
    + ul {
      list-style: none;
      padding: 0;
    }
  }
}