.prose {
  margin-block-start: var(--space-m);
  margin-inline: auto;
  max-inline-size: var(--measure);
  overflow: hidden;

  h2 {
    inline-size: fit-content;
    font-family: var(--font-display);
    font-size: var(--font-size--1);
    letter-spacing: var(--letter-spacing);
    position: relative;
    overflow: visible;

    &::after {
      border-block-end: 1px dotted var(--color-text);
      content: "";
      flex-grow: 1;
      margin-block-end: 0.25em;
      display: block;
      bottom: 0;
      position: absolute;
      inline-size: 100vw;
      z-index: -1;
      left: calc(100% + var(--space-3xs));
    }
  }

  blockquote {
    border-left: 1px solid var(--color-text);
    margin-inline: 0;
    padding-inline-start: var(--site-gutter);

    @media (min-width: 750px) {
      padding-inline-start: var(--space-m);
    }

    > *:first-child {
      margin-block-start: 0;
    }
  }

  #readings {
    + ul {
      list-style: none;
      padding: 0;
    }
  }
}