/*
Base elements
----------------------------------- */
html {
  background-color: var(--color-bg);
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
  scroll-padding-block-start: var(--space-m);
}

body {
  color: var(--color-text);
  font-family: var(--font-sans);
  font-size: var(--font-size-0);
  font-weight: regular;
  line-height: 1.5;
	overflow-wrap: break-word;
  position: relative;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;

  &.site-overlay-active {
    block-size: 100%;
    inline-size: 100%;
    overflow: hidden;
    position: absolute;
  }
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-white);
}

::-moz-selection {
  background-color: var(--color-accent);
  color: var(--color-white);
}

a {
  color: var(--color-text);
  text-decoration-color: var(--color-text);
  text-decoration-style: solid;
  // text-decoration-thickness: 0.1ex;
  text-decoration-thickness: 0.075rem;
  text-underline-offset: 0.5ex;
  transition: color 0.1s, text-decoration-color 0.1s;

  &:not(.btn) {
    &:hover, &:focus {
      color: var(--color-accent);
      text-decoration-color: var(--color-accent);
    }
  }
}


h1, h2, h3, h4, h5 {
  font-family: var(--font-sans-display);
  font-weight: bold;
  margin-block-start: 0;

  &:not(:first-child) {
    margin-block-start: var(--space-xl-2xl);
  }
}

h1 {
  font-size: var(--font-size-3);
  line-height: 1.15;
}

h2 {
  font-size: var(--font-size-1);
  line-height: 1.15;
}

h3 {
  font-size: var(--font-size-0);
  line-height: 1.2;
}

h4, h5 {
  font-size: var(--font-size--1);
  line-height: 1.2;
}

hr {
  background-color: var(--color-border);
  border: none;
  block-size: 1px;
}

.site-main ul,
.site-main ol {
  text-wrap: pretty;

  @media (width < 600px) {
    padding-inline-start: 2ch;
  }
  
  > * + * {
    margin-block-start: var(--space-2xs);
  }
}