/*
Base elements
----------------------------------- */
html {
  background-color: var(--color-bg);
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
  scroll-padding-block-start: var(--pad-lg);
}

body {
  color: var(--color-text);
  font-family: var(--font-serif);
  font-size: var(--font-size-0);
  line-height: 1.4;
	overflow-wrap: break-word;
  position: relative;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;

  &.site-overlay-active {
    block-size: 100%;
    inline-size: 100%;
    overflow: hidden;
    position: absolute;
  }
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-white);
}

::-moz-selection {
  background-color: var(--color-accent);
  color: var(--color-white);
}

a {
  color: var(--color-text);
  text-decoration-color: var(--color-text);
  text-decoration-style: solid;
  text-decoration-thickness: 0.15ex;
  text-underline-offset: 0.3ex;
  transition: text-decoration-color 0.1s;

  &:not(.btn) {
    &:hover, &:focus {
      // color: var(--color-accent);
      text-decoration-color: var(--color-bg);
    }
  }
}


h1, h2, h3, h4, h5 {
  font-family: var(--font-sans);
  font-weight: bold;
  margin-block-start: 0;

  &:not(:first-child) {
    margin-block-start: var(--space-xl-2xl);
  }
}

h1 {
  font-size: var(--font-size-4);
  line-height: 1.05;
}

h2 {
  font-size: var(--font-size-1);
  line-height: 1.05;
}

h3 {
  font-size: var(--font-size-0);
  line-height: 1.1;
}

h4, h5 {
  font-size: var(--font-size--1);
  line-height: 1.2;
}

hr {
  background-color: var(--color-border);
  border: none;
  block-size: 1px;
}

.site-main ul,
.site-main ol {
  > * + * {
    margin-block-start: var(--space-xs);
  }
}