/* Font-face
---------------------------------- */
@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/PPNeueMontreal-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/PPNeueMontreal-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal Mono";
  src: url("/fonts/PPNeueMontrealMono-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Font-family
  ---------------------------------- */
  --font-sans-base: "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
    system-ui, sans-serif;
  --font-sans: "Neue Montreal", var(--font-sans-base);
  --font-sans-display: "Neue Montreal", var(--font-sans-base);
  --font-serif: "Source Serif 4", "Iowan Old Style", "Palatino Linotype",
    "URW Palladio L", "Georgia", P052, serif;
  --font-serif-display: "Castoro Titling", var(--font-serif);
  --font-mono: "Neue Montreal Mono", monospace;

  /* Font-size
  ---------------------------------- */
  --base-font-size: 18px;
  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1200,20,1.25,8,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --font-size--3: clamp(0.64rem, 0.6551rem + -0.0201vw, 0.651rem);
  --font-size--2: clamp(0.7813rem, 0.7744rem + 0.0341vw, 0.8rem);
  --font-size--1: clamp(0.9375rem, 0.9148rem + 0.1136vw, 1rem);
  --font-size-0: clamp(1.125rem, 1.0795rem + 0.2273vw, 1.25rem);
  --font-size-1: clamp(1.35rem, 1.2727rem + 0.3864vw, 1.5625rem);
  --font-size-2: clamp(1.62rem, 1.4989rem + 0.6057vw, 1.9531rem);
  --font-size-3: clamp(1.944rem, 1.7631rem + 0.9044vw, 2.4414rem);
  --font-size-4: clamp(2.3328rem, 2.0714rem + 1.3072vw, 3.0518rem);
  --font-size-5: clamp(2.7994rem, 2.4301rem + 1.8461vw, 3.8147rem);
  --font-size-6: clamp(3.3592rem, 2.8468rem + 2.5621vw, 4.7684rem);
  --font-size-7: clamp(4.0311rem, 3.3295rem + 3.508vw, 5.9605rem);
  --font-size-8: clamp(4.8373rem, 3.887rem + 4.7514vw, 7.4506rem);

  /* Custom */
  --font-size-section-heading: var(--font-size--3);
  --font-size-meta: var(--font-size--1);

  /* Margin and Padding
  ---------------------------------- */
  /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1200,20,1.25,8,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|xs-2xl&g=s,l,xl,12 */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5398rem + 0.1136vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8523rem + 0.1136vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0795rem + 0.2273vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6193rem + 0.3409vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.1591rem + 0.4545vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2386rem + 0.6818vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3182rem + 0.9091vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4773rem + 1.3636vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.1989rem + 0.5682vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4261rem + 0.6818vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7386rem + 0.6818vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8523rem + 1.3636vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.392rem + 1.4773vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7045rem + 2.7273vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.7841rem + 2.9545vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4091rem + 5.4545vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.625rem + 2.5vw, 2.5rem);
  --space-xs-2xl: clamp(0.875rem, -0.625rem + 7.5vw, 5rem);

  /* Named spaces */
  --space-cluster: var(--space-m);
  --space-gap: var(--space-m);
  --space-stack: var(--space-m);
  --space-section: var(--space-xl-2xl);

  /* Other Measures
  ---------------------------------- */
  --measure: 60ch;
  --radius: 1.125rem;
  --site-gutter: var(--space-s-m);
  --letter-spacing: 0.25rem;
  --letter-spacing-prose: -0.005ch;
  --letter-spacing-prose-l: 0.01ch;

  /* Shadows
  ---------------------------------- */
  --box-shadow: 0px 0.3px 1.7px rgba(0, 0, 0, 0.013),
    0px 0.7px 4px rgba(0, 0, 0, 0.022), 0px 1.3px 7.5px rgba(0, 0, 0, 0.029),
    0px 2.2px 13.4px rgba(0, 0, 0, 0.034), 0px 4.2px 25.1px rgba(0, 0, 0, 0.041),
    0px 10px 60px rgba(0, 0, 0, 0.06);
  --box-shadow-high: 0px 1.7px 2.2px rgba(0, 0, 0, 0.02),
    0px 4px 5.3px rgba(0, 0, 0, 0.02), 0px 7.5px 10px rgba(0, 0, 0, 0.03),
    0px 12px 17.9px rgba(0, 0, 0, 0.035), 0px 13px 20.4px rgba(0, 0, 0, 0.042),
    0px 5px 10px rgba(0, 0, 0, 0.02);

  /* Motion
  ---------------------------------- */
  --ease-in: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-out: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-in-out: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-authentic: cubic-bezier(0.4, 0, 0.2, 1);
  --cubic-wipe: cubic-bezier(0.79, 0.14, 0.15, 0.86);

  /* Colors
  ---------------------------------- */
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-25: hsl(0 0% 25%);
  --color-gray-50: hsl(0 0% 51%); // 51 for accessibility contrast
  --color-gray-75: hsl(0, 0%, 75%);

  --color-bg: hsl(36, 31%, 94%);
  --color-bg-hover: hsl(36, 31%, 87%);
  --color-text: hsl(0, 0%, 10%);
  --color-border: hsl(36, 31%, 63%);

  --color-blue: hsl(198, 57%, 37%);
  --color-bronze: hsl(22, 28%, 42%);
  --color-accent: var(--color-bronze);

  &[data-user-theme="dark"] {
    --color-bg: hsl(0, 0%, 10%);
    --color-bg-hover: hsl(0 0% 17%);
    --color-text: hsl(0, 0%, 93%);
    --color-border: hsl(0 0% 31%);

    --color-blue: hsl(198, 57%, 50%);
    --color-bronze: hsl(22, 28%, 51%);
  }

  /* Media Queries
  ---------------------------------- */
  @media (prefers-reduced-motion) {
    * {
      transition-duration: 0s !important;
      animation-duration: 0s !important;
    }
  }

  @media (min-width: 365px) {
    --font-size-section-heading: var(--font-size--2);
  }

  @media (min-width: 600px) {
    --font-size-section-heading: var(--font-size--1);
    --font-size-meta: var(--font-size-0);
  }
}
