/* Font-face
  ---------------------------------- */
  @font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Neue Montreal';
	src: url('/fonts/PPNeueMontreal-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {

  /* Font-family
  ---------------------------------- */
  --font-sans-base: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-sans: 'Neue Montreal', 'Atkinson', var(--font-sans-base);
  --font-serif: 'EB Garamond', 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  --font-mono: 'Courier Prime', 'Courier New', monospace;
  --font-display: 'Yatra One', var(--font-sans);

  /* Font-size
  ---------------------------------- */
  --base-font-size: 16px;
  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1800,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --font-size--2: clamp(0.6944rem, 0.637rem + 0.2871vw, 0.96rem);
  --font-size--1: clamp(0.8333rem, 0.7541rem + 0.3964vw, 1.2rem);
  --font-size-0: clamp(1rem, 0.8919rem + 0.5405vw, 1.5rem);
  --font-size-1: clamp(1.2rem, 1.0541rem + 0.7297vw, 1.875rem);
  --font-size-2: clamp(1.44rem, 1.2446rem + 0.977vw, 2.3438rem);
  --font-size-3: clamp(1.728rem, 1.4682rem + 1.2991vw, 2.9297rem);
  --font-size-4: clamp(2.0736rem, 1.7301rem + 1.7173vw, 3.6621rem);
  --font-size-5: clamp(2.4883rem, 2.0366rem + 2.2587vw, 4.5776rem);


  /* Margin and Padding
  ---------------------------------- */
  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1800,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-3xs: clamp(0.25rem, 0.223rem + 0.1351vw, 0.375rem);
  --space-2xs: clamp(0.5rem, 0.4459rem + 0.2703vw, 0.75rem);
  --space-xs: clamp(0.75rem, 0.6689rem + 0.4054vw, 1.125rem);
  --space-s: clamp(1rem, 0.8919rem + 0.5405vw, 1.5rem);
  --space-m: clamp(1.5rem, 1.3378rem + 0.8108vw, 2.25rem);
  --space-l: clamp(2rem, 1.7838rem + 1.0811vw, 3rem);
  --space-xl: clamp(3rem, 2.6757rem + 1.6216vw, 4.5rem);
  --space-2xl: clamp(4rem, 3.5676rem + 2.1622vw, 6rem);
  --space-3xl: clamp(6rem, 5.3514rem + 3.2432vw, 9rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1419rem + 0.5405vw, 0.75rem);
  --space-2xs-xs: clamp(0.5rem, 0.3649rem + 0.6757vw, 1.125rem);
  --space-xs-s: clamp(0.75rem, 0.5878rem + 0.8108vw, 1.5rem);
  --space-s-m: clamp(1rem, 0.7297rem + 1.3514vw, 2.25rem);
  --space-m-l: clamp(1.5rem, 1.1757rem + 1.6216vw, 3rem);
  --space-l-xl: clamp(2rem, 1.4595rem + 2.7027vw, 4.5rem);
  --space-xl-2xl: clamp(3rem, 2.3514rem + 3.2432vw, 6rem);
  --space-2xl-3xl: clamp(4rem, 2.9189rem + 5.4054vw, 9rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, 0.5676rem + 2.1622vw, 3rem);
  --space-s-2xl: clamp(1rem, -0.0811rem + 5.4054vw, 6rem);

  --space-cluster: var(--space-m);
  --space-gap: var(--space-m);
  --space-stack: var(--space-m);
  --space-section: var(--space-xl-2xl);


  /* Other Measures
  ---------------------------------- */
  --measure: 65ch;
  --radius: 1.125rem;
  --site-gutter: var(--space-s);


  /* Shadows
  ---------------------------------- */
  --box-shadow:
    0px 0.3px 1.7px rgba(0, 0, 0, 0.013),
    0px 0.7px 4px rgba(0, 0, 0, 0.022),
    0px 1.3px 7.5px rgba(0, 0, 0, 0.029),
    0px 2.2px 13.4px rgba(0, 0, 0, 0.034),
    0px 4.2px 25.1px rgba(0, 0, 0, 0.041),
    0px 10px 60px rgba(0, 0, 0, 0.06);
  --box-shadow-high:
    0px 1.7px 2.2px rgba(0, 0, 0, 0.02),
    0px 4px 5.3px rgba(0, 0, 0, 0.02),
    0px 7.5px 10px rgba(0, 0, 0, 0.03),
    0px 12px 17.9px rgba(0, 0, 0, 0.035),
    0px 13px 20.4px rgba(0, 0, 0, 0.042),
    0px 5px 10px rgba(0, 0, 0, 0.02);


  /* Motion
  ---------------------------------- */
  --ease-in: cubic-bezier(.895, .03, .685, .22);
  --ease-out: cubic-bezier(.165, .84, .44, 1);
  --ease-in-out: cubic-bezier(0.86,0,0.07,1);
  --ease-authentic: cubic-bezier(0.4, 0, 0.2, 1);
  --cubic-wipe: cubic-bezier(.79, .14, .15, .86);


  /* Colors
  ---------------------------------- */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #F6F7F9;
  --color-bg: #4b4734;
  --color-text: #DDD3BE;
  --color-accent: #2337ff;
	--color-accent-d: #000d8a;
  --color-border: var(--color-text);

  // &[data-user-theme="light"] {
  //   --color-bg: var(--color-white);
  //   --color-text: var(--color-uva-blue);
  // }


  /* Media Queries
  ---------------------------------- */
  @media (prefers-reduced-motion) {
    * {
      transition-duration: 0s !important;
      animation-duration: 0s !important;
    }
  }
}