/* Font-face
---------------------------------- */
@font-face {
	font-family: 'Neue Montreal';
	src: url('/fonts/PPNeueMontreal-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Neue Montreal Mono';
	src: url('/fonts/PPNeueMontrealMono-Book.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {

  /* Font-family
  ---------------------------------- */
  --font-sans-base: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-sans: 'Neue Montreal', var(--font-sans-base);
  --font-serif: 'Castoro', 'Georgia', 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  --font-mono: 'Neue Montreal Mono', monospace;


  /* Font-size
  ---------------------------------- */
  --base-font-size: 16px;
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1600,26,1.25,8,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --font-size--3: clamp(0.5787rem, 0.5154rem + 0.3166vw, 0.832rem);
  --font-size--2: clamp(0.6944rem, 0.6081rem + 0.4319vw, 1.04rem);
  --font-size--1: clamp(0.8333rem, 0.7167rem + 0.5833vw, 1.3rem);
  --font-size-0: clamp(1rem, 0.8438rem + 0.7813vw, 1.625rem);
  --font-size-1: clamp(1.2rem, 0.9922rem + 1.0391vw, 2.0313rem);
  --font-size-2: clamp(1.44rem, 1.1652rem + 1.3738vw, 2.5391rem);
  --font-size-3: clamp(1.728rem, 1.3665rem + 1.8073vw, 3.1738rem);
  --font-size-4: clamp(2.0736rem, 1.6002rem + 2.3671vw, 3.9673rem);
  --font-size-5: clamp(2.4883rem, 1.8706rem + 3.0885vw, 4.9591rem);
  --font-size-6: clamp(2.986rem, 2.1828rem + 4.0161vw, 6.1989rem);
  --font-size-7: clamp(3.5832rem, 2.5418rem + 5.2068vw, 7.7486rem);
  --font-size-8: clamp(4.2998rem, 2.9533rem + 6.7324vw, 9.6858rem);


  /* Margin and Padding
  ---------------------------------- */
  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1600,26,1.25,8,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|xs-2xl&g=s,l,xl,12 */
  --space-3xs: clamp(0.25rem, 0.2031rem + 0.2344vw, 0.4375rem);
  --space-2xs: clamp(0.5rem, 0.4219rem + 0.3906vw, 0.8125rem);
  --space-xs: clamp(0.75rem, 0.625rem + 0.625vw, 1.25rem);
  --space-s: clamp(1rem, 0.8438rem + 0.7813vw, 1.625rem);
  --space-m: clamp(1.5rem, 1.2656rem + 1.1719vw, 2.4375rem);
  --space-l: clamp(2rem, 1.6875rem + 1.5625vw, 3.25rem);
  --space-xl: clamp(3rem, 2.5313rem + 2.3438vw, 4.875rem);
  --space-2xl: clamp(4rem, 3.375rem + 3.125vw, 6.5rem);
  --space-3xl: clamp(6rem, 5.0625rem + 4.6875vw, 9.75rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1094rem + 0.7031vw, 0.8125rem);
  --space-2xs-xs: clamp(0.5rem, 0.3125rem + 0.9375vw, 1.25rem);
  --space-xs-s: clamp(0.75rem, 0.5313rem + 1.0938vw, 1.625rem);
  --space-s-m: clamp(1rem, 0.6406rem + 1.7969vw, 2.4375rem);
  --space-m-l: clamp(1.5rem, 1.0625rem + 2.1875vw, 3.25rem);
  --space-l-xl: clamp(2rem, 1.2813rem + 3.5938vw, 4.875rem);
  --space-xl-2xl: clamp(3rem, 2.125rem + 4.375vw, 6.5rem);
  --space-2xl-3xl: clamp(4rem, 2.5625rem + 7.1875vw, 9.75rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, 0.4375rem + 2.8125vw, 3.25rem);
  --space-xs-2xl: clamp(0.75rem, -0.6875rem + 7.1875vw, 6.5rem);

  --space-cluster: var(--space-m);
  --space-gap: var(--space-m);
  --space-stack: var(--space-m);
  --space-section: var(--space-xl-2xl);


  /* Other Measures
  ---------------------------------- */
  --measure: 65ch;
  --radius: 1.125rem;
  --site-gutter: var(--space-s);


  /* Shadows
  ---------------------------------- */
  --box-shadow:
    0px 0.3px 1.7px rgba(0, 0, 0, 0.013),
    0px 0.7px 4px rgba(0, 0, 0, 0.022),
    0px 1.3px 7.5px rgba(0, 0, 0, 0.029),
    0px 2.2px 13.4px rgba(0, 0, 0, 0.034),
    0px 4.2px 25.1px rgba(0, 0, 0, 0.041),
    0px 10px 60px rgba(0, 0, 0, 0.06);
  --box-shadow-high:
    0px 1.7px 2.2px rgba(0, 0, 0, 0.02),
    0px 4px 5.3px rgba(0, 0, 0, 0.02),
    0px 7.5px 10px rgba(0, 0, 0, 0.03),
    0px 12px 17.9px rgba(0, 0, 0, 0.035),
    0px 13px 20.4px rgba(0, 0, 0, 0.042),
    0px 5px 10px rgba(0, 0, 0, 0.02);


  /* Motion
  ---------------------------------- */
  --ease-in: cubic-bezier(.895, .03, .685, .22);
  --ease-out: cubic-bezier(.165, .84, .44, 1);
  --ease-in-out: cubic-bezier(0.86,0,0.07,1);
  --ease-authentic: cubic-bezier(0.4, 0, 0.2, 1);
  --cubic-wipe: cubic-bezier(.79, .14, .15, .86);


  /* Colors
  ---------------------------------- */
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-25: hsl(0 0% 25%);
  --color-gray-50: hsl(0 0% 51%); // 51 for accessibility contrast
  --color-gray-75: hsl(0, 0%, 75%);

  --color-bg: hsl(36, 31%, 94%);
  --color-bg-hover: hsl(36, 31%, 89%);
  --color-text: hsl(0, 0%, 10%);
  --color-border: var(--color-text);

  --color-blue: hsl(198, 57%, 37%);
  --color-bronze: hsl(22, 28%, 42%);
  --color-accent:	var(--color-bronze);

  &[data-user-theme="dark"] {
    --color-bg: hsl(0, 0%, 10%);
    --color-bg-hover: hsl(0 0% 15%);
    --color-text: hsl(0, 0%, 100%);

    --color-blue: hsl(198, 57%, 50%);
    --color-bronze: hsl(22, 28%, 51%);
  }


  /* Media Queries
  ---------------------------------- */
  @media (prefers-reduced-motion) {
    * {
      transition-duration: 0s !important;
      animation-duration: 0s !important;
    }
  }
}