/* Font-face
  ---------------------------------- */
  @font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Neue Montreal';
	src: url('/fonts/PPNeueMontreal-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {

  /* Font-family
  ---------------------------------- */
  --font-sans-base: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-sans: 'Neue Montreal', 'Atkinson', var(--font-sans-base);
  --font-serif: 'EB Garamond', 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  --font-mono: 'Courier Prime', 'Courier New', monospace;
  --font-display: 'Yatra One', var(--font-sans);

  /* Font-size
  ---------------------------------- */
  --base-font-size: 18px;
  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1800,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --font-size--2: clamp(0.7813rem, 0.7426rem + 0.1932vw, 0.96rem);
  --font-size--1: clamp(0.9375rem, 0.8807rem + 0.2838vw, 1.2rem);
  --font-size-0: clamp(1.125rem, 1.0439rem + 0.4054vw, 1.5rem);
  --font-size-1: clamp(1.35rem, 1.2365rem + 0.5676vw, 1.875rem);
  --font-size-2: clamp(1.62rem, 1.4635rem + 0.7824vw, 2.3438rem);
  --font-size-3: clamp(1.944rem, 1.7309rem + 1.0656vw, 2.9297rem);
  --font-size-4: clamp(2.3328rem, 2.0454rem + 1.4371vw, 3.6621rem);
  --font-size-5: clamp(2.7994rem, 2.4149rem + 1.9225vw, 4.5776rem);


  /* Margin and Padding
  ---------------------------------- */
  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1800,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-3xs: clamp(0.3125rem, 0.299rem + 0.0676vw, 0.375rem);
  --space-2xs: clamp(0.5625rem, 0.522rem + 0.2027vw, 0.75rem);
  --space-xs: clamp(0.875rem, 0.8209rem + 0.2703vw, 1.125rem);
  --space-s: clamp(1.125rem, 1.0439rem + 0.4054vw, 1.5rem);
  --space-m: clamp(1.6875rem, 1.5659rem + 0.6081vw, 2.25rem);
  --space-l: clamp(2.25rem, 2.0878rem + 0.8108vw, 3rem);
  --space-xl: clamp(3.375rem, 3.1318rem + 1.2162vw, 4.5rem);
  --space-2xl: clamp(4.5rem, 4.1757rem + 1.6216vw, 6rem);
  --space-3xl: clamp(6.75rem, 6.2635rem + 2.4324vw, 9rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2179rem + 0.473vw, 0.75rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4409rem + 0.6081vw, 1.125rem);
  --space-xs-s: clamp(0.875rem, 0.7399rem + 0.6757vw, 1.5rem);
  --space-s-m: clamp(1.125rem, 0.8818rem + 1.2162vw, 2.25rem);
  --space-m-l: clamp(1.6875rem, 1.4037rem + 1.4189vw, 3rem);
  --space-l-xl: clamp(2.25rem, 1.7635rem + 2.4324vw, 4.5rem);
  --space-xl-2xl: clamp(3.375rem, 2.8074rem + 2.8378vw, 6rem);
  --space-2xl-3xl: clamp(4.5rem, 3.527rem + 4.8649vw, 9rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.7196rem + 2.027vw, 3rem);
  --space-xs-2xl: clamp(0.875rem, -0.2331rem + 5.5405vw, 6rem);

  --space-cluster: var(--space-m);
  --space-gap: var(--space-m);
  --space-stack: var(--space-m);
  --space-section: var(--space-xl-2xl);


  /* Other Measures
  ---------------------------------- */
  --measure: 65ch;
  --radius: 1.125rem;
  --site-gutter: var(--space-s);


  /* Shadows
  ---------------------------------- */
  --box-shadow:
    0px 0.3px 1.7px rgba(0, 0, 0, 0.013),
    0px 0.7px 4px rgba(0, 0, 0, 0.022),
    0px 1.3px 7.5px rgba(0, 0, 0, 0.029),
    0px 2.2px 13.4px rgba(0, 0, 0, 0.034),
    0px 4.2px 25.1px rgba(0, 0, 0, 0.041),
    0px 10px 60px rgba(0, 0, 0, 0.06);
  --box-shadow-high:
    0px 1.7px 2.2px rgba(0, 0, 0, 0.02),
    0px 4px 5.3px rgba(0, 0, 0, 0.02),
    0px 7.5px 10px rgba(0, 0, 0, 0.03),
    0px 12px 17.9px rgba(0, 0, 0, 0.035),
    0px 13px 20.4px rgba(0, 0, 0, 0.042),
    0px 5px 10px rgba(0, 0, 0, 0.02);


  /* Motion
  ---------------------------------- */
  --ease-in: cubic-bezier(.895, .03, .685, .22);
  --ease-out: cubic-bezier(.165, .84, .44, 1);
  --ease-in-out: cubic-bezier(0.86,0,0.07,1);
  --ease-authentic: cubic-bezier(0.4, 0, 0.2, 1);
  --cubic-wipe: cubic-bezier(.79, .14, .15, .86);


  /* Colors
  ---------------------------------- */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #F6F7F9;
  --color-bg: #44402f;
  --color-text: #DDD3BE;
  --color-accent: #2337ff;
	--color-accent-d: #000d8a;
  --color-border: var(--color-text);

  // &[data-user-theme="light"] {
  //   --color-bg: var(--color-white);
  //   --color-text: var(--color-uva-blue);
  // }


  /* Media Queries
  ---------------------------------- */
  @media (prefers-reduced-motion) {
    * {
      transition-duration: 0s !important;
      animation-duration: 0s !important;
    }
  }
}