/* Font-face
---------------------------------- */
@font-face {
	font-family: 'Neue Montreal';
	src: url('/fonts/PPNeueMontreal-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Neue Montreal';
	src: url('/fonts/PPNeueMontreal-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Neue Montreal Mono';
	src: url('/fonts/PPNeueMontrealMono-Book.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {

  /* Font-family
  ---------------------------------- */
  --font-sans-base: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-sans: 'Neue Montreal', var(--font-sans-base);
  --font-serif: 'Georgia', 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  --font-display: 'Castoro Titling', var(--font-serif);
  --font-mono: 'Neue Montreal Mono', monospace;


  /* Font-size
  ---------------------------------- */
  --base-font-size: 18px;
  /* @link https://utopia.fyi/type/calculator/?c=320,18,1.2,1600,24,1.25,8,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --font-size--3: clamp(0.651rem, 0.6378rem + 0.0662vw, 0.704rem);
  --font-size--2: clamp(0.7813rem, 0.7566rem + 0.1234vw, 0.88rem);
  --font-size--1: clamp(0.9375rem, 0.8969rem + 0.2031vw, 1.1rem);
  --font-size-0: clamp(1.125rem, 1.0625rem + 0.3125vw, 1.375rem);
  --font-size-1: clamp(1.35rem, 1.2578rem + 0.4609vw, 1.7188rem);
  --font-size-2: clamp(1.62rem, 1.4879rem + 0.6605vw, 2.1484rem);
  --font-size-3: clamp(1.944rem, 1.7586rem + 0.9269vw, 2.6855rem);
  --font-size-4: clamp(2.3328rem, 2.0768rem + 1.2802vw, 3.3569rem);
  --font-size-5: clamp(2.7994rem, 2.4502rem + 1.746vw, 4.1962rem);
  --font-size-6: clamp(3.3592rem, 2.8877rem + 2.3575vw, 5.2452rem);
  --font-size-7: clamp(4.0311rem, 3.3997rem + 3.1568vw, 6.5565rem);
  --font-size-8: clamp(4.8373rem, 3.9977rem + 4.1979vw, 8.1956rem);


  /* Margin and Padding
  ---------------------------------- */
  /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1600,24,1.25,8,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|xs-2xl&g=s,l,xl,12 */
  --space-3xs: clamp(0.3125rem, 0.2969rem + 0.0781vw, 0.375rem);
  --space-2xs: clamp(0.5625rem, 0.5156rem + 0.2344vw, 0.75rem);
  --space-xs: clamp(0.875rem, 0.8125rem + 0.3125vw, 1.125rem);
  --space-s: clamp(1.125rem, 1.0313rem + 0.4688vw, 1.5rem);
  --space-m: clamp(1.6875rem, 1.5469rem + 0.7031vw, 2.25rem);
  --space-l: clamp(2.25rem, 2.0625rem + 0.9375vw, 3rem);
  --space-xl: clamp(3.375rem, 3.0938rem + 1.4063vw, 4.5rem);
  --space-2xl: clamp(4.5rem, 4.125rem + 1.875vw, 6rem);
  --space-3xl: clamp(6.75rem, 6.1875rem + 2.8125vw, 9rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2031rem + 0.5469vw, 0.75rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4219rem + 0.7031vw, 1.125rem);
  --space-xs-s: clamp(0.875rem, 0.7188rem + 0.7813vw, 1.5rem);
  --space-s-m: clamp(1.125rem, 0.8438rem + 1.4063vw, 2.25rem);
  --space-m-l: clamp(1.6875rem, 1.3594rem + 1.6406vw, 3rem);
  --space-l-xl: clamp(2.25rem, 1.6875rem + 2.8125vw, 4.5rem);
  --space-xl-2xl: clamp(3.375rem, 2.7188rem + 3.2813vw, 6rem);
  --space-2xl-3xl: clamp(4.5rem, 3.375rem + 5.625vw, 9rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.6563rem + 2.3438vw, 3rem);
  --space-xs-2xl: clamp(0.875rem, -0.4062rem + 6.4062vw, 6rem);

  /* Named spaces */
  --space-cluster: var(--space-m);
  --space-gap: var(--space-m);
  --space-stack: var(--space-m);
  --space-section: var(--space-xl-2xl);


  /* Other Measures
  ---------------------------------- */
  --measure: 54ch;
  --radius: 1.125rem;
  --site-gutter: var(--space-s);
  --letter-spacing: 0.25rem;


  /* Shadows
  ---------------------------------- */
  --box-shadow:
    0px 0.3px 1.7px rgba(0, 0, 0, 0.013),
    0px 0.7px 4px rgba(0, 0, 0, 0.022),
    0px 1.3px 7.5px rgba(0, 0, 0, 0.029),
    0px 2.2px 13.4px rgba(0, 0, 0, 0.034),
    0px 4.2px 25.1px rgba(0, 0, 0, 0.041),
    0px 10px 60px rgba(0, 0, 0, 0.06);
  --box-shadow-high:
    0px 1.7px 2.2px rgba(0, 0, 0, 0.02),
    0px 4px 5.3px rgba(0, 0, 0, 0.02),
    0px 7.5px 10px rgba(0, 0, 0, 0.03),
    0px 12px 17.9px rgba(0, 0, 0, 0.035),
    0px 13px 20.4px rgba(0, 0, 0, 0.042),
    0px 5px 10px rgba(0, 0, 0, 0.02);


  /* Motion
  ---------------------------------- */
  --ease-in: cubic-bezier(.895, .03, .685, .22);
  --ease-out: cubic-bezier(.165, .84, .44, 1);
  --ease-in-out: cubic-bezier(0.86,0,0.07,1);
  --ease-authentic: cubic-bezier(0.4, 0, 0.2, 1);
  --cubic-wipe: cubic-bezier(.79, .14, .15, .86);


  /* Colors
  ---------------------------------- */
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-25: hsl(0 0% 25%);
  --color-gray-50: hsl(0 0% 51%); // 51 for accessibility contrast
  --color-gray-75: hsl(0, 0%, 75%);

  --color-bg: hsl(36, 31%, 94%);
  --color-bg-hover: hsl(36, 31%, 87%);
  --color-text: hsl(0, 0%, 10%);
  --color-border: hsl(36, 31%, 63%);

  --color-blue: hsl(198, 57%, 37%);
  --color-bronze: hsl(22, 28%, 42%);
  --color-accent:	var(--color-bronze);

  &[data-user-theme="dark"] {
    --color-bg: hsl(0, 0%, 10%);
    --color-bg-hover: hsl(0 0% 17%);
    --color-text: hsl(0, 0%, 100%);
    --color-border: hsl(0 0% 31%);

    --color-blue: hsl(198, 57%, 50%);
    --color-bronze: hsl(22, 28%, 51%);
  }


  /* Media Queries
  ---------------------------------- */
  @media (prefers-reduced-motion) {
    * {
      transition-duration: 0s !important;
      animation-duration: 0s !important;
    }
  }
}