/* Font-face
  ---------------------------------- */
  @font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {

  /* Font-family
  ---------------------------------- */
  --font-sans-base: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-sans: 'Atkinson', var(--font-sans-base);
  --font-mono: 'Courier Prime', monospace;

  /* Font-size
  ---------------------------------- */
  --base-font-size: 16px;

  // Major Third -- 1.25 
  --font-size--2: 0.64rem;
  --font-size--1: 0.8rem;
  --font-size--05: 0.888rem;
  --font-size-0: 1rem;
  --font-size-1: 1.25rem;
  --font-size-2: 1.563rem;
  --font-size-2-5: 1.758rem;
  --font-size-3: 1.953rem;
  --font-size-4: 2.441rem;
  --font-size-5: 3.052rem;
  --font-size-6: 3.815rem;
  --font-size-7: 4.768rem;
  --font-size-8: 5.96rem;
  --font-size-9: 7.451rem;
  --font-size-10: 9.313rem;


  /* Margin and Padding
  ---------------------------------- */
  --space-3xs: 0.125rem;
  --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-base: 1.25rem;
  --space-lg: 2rem;
  --space-xl: 3rem;

  --space-cluster: var(--space-base);
  --space-gap: var(--space-base);
  --space-stack: var(--space-base);
  --space-section: var(--space-xl);


  /* Other Measures
  ---------------------------------- */
  --measure: 45ch;
  --radius: 1.125rem;
  --site-gutter: var(--space-sm);


  /* Shadows
  ---------------------------------- */
  --box-shadow:
    0px 0.3px 1.7px rgba(0, 0, 0, 0.013),
    0px 0.7px 4px rgba(0, 0, 0, 0.022),
    0px 1.3px 7.5px rgba(0, 0, 0, 0.029),
    0px 2.2px 13.4px rgba(0, 0, 0, 0.034),
    0px 4.2px 25.1px rgba(0, 0, 0, 0.041),
    0px 10px 60px rgba(0, 0, 0, 0.06);
  --box-shadow-high:
    0px 1.7px 2.2px rgba(0, 0, 0, 0.02),
    0px 4px 5.3px rgba(0, 0, 0, 0.02),
    0px 7.5px 10px rgba(0, 0, 0, 0.03),
    0px 12px 17.9px rgba(0, 0, 0, 0.035),
    0px 13px 20.4px rgba(0, 0, 0, 0.042),
    0px 5px 10px rgba(0, 0, 0, 0.02);
  --box-shadow-basic: 0px 0px 5px rgba(0, 0, 0, 0.4);


  /* Motion
  ---------------------------------- */
  --ease-in: cubic-bezier(.895, .03, .685, .22);
  --ease-out: cubic-bezier(.165, .84, .44, 1);
  --ease-in-out: cubic-bezier(0.86,0,0.07,1);
  --ease-authentic: cubic-bezier(0.4, 0, 0.2, 1);
  --cubic-wipe: cubic-bezier(.79, .14, .15, .86);


  /* Brand Colors
  ---------------------------------- */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #F6F7F9;
  --color-border: #dddee0;

  --color-bg: #ffffff;
  --color-text: #353841;
  --color-accent: #2337ff;
	--color-accent-d: #000d8a;

  // &[data-user-theme="light"] {
  //   --color-bg: var(--color-white);
  //   --color-text: var(--color-uva-blue);
  // }


  /* Media Queries
  ---------------------------------- */
  @media (min-width: $bp-tablet-sm) {
    --base-font-size: 110%;
  }

  @media (min-width: $bp-tablet) {
    --site-gutter: var(--space-lg);
  }

  @media (min-width: $bp-desktop-sm) {
    --base-font-size: 120%;
  }

  @media (min-width: $bp-desktop) {
    --site-gutter: var(--space-xl);
  }

  @media (min-width: $bp-ultra-sm) {
    --base-font-size: 130%;
  }

  @media (min-width: $bp-ultra) {
    --base-font-size: 150%;
  }

  @media (min-width: $bp-ultra-lg) {
    --base-font-size: 175%;
  }

  @media (min-width: $bp-ultra-xl) {
    --base-font-size: 200%;
  }

  @media (prefers-reduced-motion) {
    * {
      transition-duration: 0s !important;
      animation-duration: 0s !important;
    }
  }
}