---
import Page from '../layouts/Page.astro';
---

<Page title="About" description="Welcome to a copy/paste of Bema Liturgy with (hopefully) better typography.">
	<h1>About</h1>
	<p>
		Welcome, to a copy/paste of <a href="https://www.bemaliturgy.com/">Bema Liturgy</a> with, hopefully, a more considered reading experience.
	</p>
</Page>