---
import BaseHead from '../components/BaseHead.astro';
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">

	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body class="site-layout">

		<SiteHeader title={SITE_TITLE} />

		<main class="site-main">
			<h1>Liturgy</h1>
			<p>
				Welcome to a copy/paste of <a href="https://www.bemaliturgy.com/">Bema Liturgy</a> with (hopefully) better typography.
			</p>
		</main>

		<SiteFooter />

	</body>

</html>
