.site-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100lvh;
  position: relative;
}

.site-header {
  padding-inline: var(--site-gutter);
}

.site-main {
  inline-size: 100%;
  margin-inline: auto;
  padding-block-start: var(--space-section);
  padding-inline: var(--site-gutter);
  position: relative;
}

.site-footer {
  margin-block-start: var(--space-section);
}
