---
import HeaderLink from './HeaderLink.astro';
// import { SITE_TITLE } from '../consts';
---

<header class="site-header">
	<h2 class="site-title">
		<a href="/">Liturgy</a>
	</h2>
	<nav class="site-nav">
		<ul class="site-nav__list cluster">
			<!-- <li><HeaderLink href="/daily">Daily</HeaderLink></li> -->
			<li><HeaderLink href="/weekly">Weekly</HeaderLink></li>
			<!-- <li><HeaderLink href="/prayer">Prayer</HeaderLink></li> -->
		</ul>
	</nav>
</header>

<style>
	.site-header {
		align-items: center;
		background: var(--color-bg);
		display: flex;
		font-family: var(--font-sans);
		font-size: var(--font-size--1);
		justify-content: space-between;
	}

	.site-title {
		display: flex;
		line-height: 1;

		a {
			font-size: var(--font-size--1);
			text-decoration: none;
		}
	}

	.site-nav {
		margin-inline: 0;
	}

	.site-nav a {
		/* border-bottom: 4px solid transparent; */
		color: var(--color-text);
		line-height: 1;
		padding: var(--space-2xs) 0;
		text-decoration: none;
	}

	.site-nav a.active {
		/* border-bottom-color: var(--color-accent); */
	}

	.site-nav__list {
		gap: var(--space-s);
		list-style: none;
		margin: 0;
		padding: 0;
	}
</style>
