---
const today = new Date();
---

<footer class="site-footer">
	<ul class="clust list-style:none">
		<li><a href="/about">About</a></li>
	</ul>
	<p>&copy; {today.getFullYear()} Liturgy. All rights reserved.</p>
</footer>

<style>
	.site-footer {
		background-color: var(--color-bg);
		color: var(--color-gray-50);
		font-family: var(--font-sans);
		font-size: var(--font-size--2);
		padding: var(--space-m) var(--site-gutter);
		text-align: center;
	}

	p + p {
		margin-block-start: var(--space-3xs);
	}

	a {
		text-decoration-color: color: var(--color-gray-50);
	}
</style>
