---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="site-header">
	<h2 class="site-title">
		<a href="/">{SITE_TITLE}</a>
	</h2>
	<nav class="site-nav">
		<ul class="site-nav__list cluster">
			<li><HeaderLink href="/about">About</HeaderLink></li>
		</ul>
	</nav>
</header>

<style>
	.site-header {
		align-items: center;
		background: var(--color-bg);
		display: flex;
		font-family: var(--font-sans);
		font-size: var(--font-size--1);
		justify-content: space-between;
		padding-block: var(--space-2xs);
	}

	.site-title {
		display: flex;
		line-height: 1;

		a {
			font-size: var(--font-size--1);
			text-decoration-color: transparent;

			&:hover,
			&:focus-visible {
				text-decoration-color: var(--color-text);
			}
		}
	}

	.site-nav {
		margin-inline: 0;
	}

	.site-nav__list {
		gap: var(--space-s);
		list-style: none;
		margin: 0;
		padding: 0;
	}
</style>
