---
// import HeaderLink from './HeaderLink.astro';
// <li><HeaderLink href="/about">About</HeaderLink></li>
import { SITE_TITLE } from '../consts';
---

<header class="site-header">
	<a class="site-title" href="/">
		{SITE_TITLE}
	</a>
	<nav class="site-nav">
		<ul class="site-nav__list cluster">
			<li>
				<button aria-label="Toggle color scheme" class="btn icon-btn" data-action="user-theme">
					<svg aria-hidden="true" class="icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
						<circle cx="10" cy="10" r="10" fill="currentColor"></circle>
						<path d="M2 10C2 14.4183 5.58172 18 10 18V2C5.58172 2 2 5.58172 2 10Z" fill="currentColor"></path>
					</svg>
				</button>
			</li>
		</ul>
	</nav>
</header>

<script is:inline>
	/**
   * Set the user theme
   */
	function setUserTheme() {
    const currentThemeValue = document.documentElement.getAttribute('data-user-theme');
    const newThemeValue = currentThemeValue === 'light' ? 'dark' : 'light';
    document.documentElement.setAttribute('data-user-theme', newThemeValue);
    localStorage.setItem('user-color-scheme', newThemeValue);
  }

	let themeToggler = document.querySelector('[data-action="user-theme"]');
	themeToggler.addEventListener('click', () => {
		setUserTheme();
  });
</script>

<style>
	.site-header {
		align-items: center;
		background: var(--color-bg);
		display: flex;
		font-family: var(--font-sans);
		font-size: var(--font-size--1);
		justify-content: space-between;
		padding-block: var(--site-gutter);
	}

	.site-title {
		align-items: center;
		color: var(--color-text);
		display: flex;
		font-family: var(--font-serif-display);
		font-size: var(--font-size--2);
		letter-spacing: var(--letter-spacing);
		line-height: 1;
		text-box-trim: trim-both;
		text-decoration: none;

		@media (min-width: 600px) {
			font-size: var(--font-size--1);
		}

		&:hover,
		&:focus-visible {
			color: var(--color-accent);
		}
	}

	.site-nav {
		margin-inline: 0;
	}

	.site-nav__list {
		gap: var(--space-s);
		list-style: none;
		margin: 0;
		padding: 0;
	}
</style>
