---
const today = new Date();
---

<footer class="site-footer">
	<p>&copy; {today.getFullYear()} Liturgy. All rights reserved. ΔΩ. <a href="/about">About</a></p>
</footer>

<svg
	style="position:absolute; bottom:0; pointer-events:none; user-select:none;"
>
	<defs>
		<filter id="distortion">
			<feTurbulence
				baseFrequency="0.01 0.01"
				result="NOISE"
				numOctaves="1"></feTurbulence>
			<feDisplacementMap
				in="SourceGraphic"
				in2="NOISE"
				scale="2"
				xChannelSelector="R"
				yChannelSelector="R"
			>
			</feDisplacementMap>
		</filter>
	</defs>
</svg>

<style>
	.site-footer {
		background-color: var(--color-bg);
		color: var(--color-gray-50);
		font-family: var(--font-sans);
		font-size: var(--font-size--2);
		font-weight: 500;
		padding: var(--space-m) var(--site-gutter);
		/* text-align: center; */
	}

	p + p {
		margin-block-start: var(--space-3xs);
	}

	a {
		text-decoration-color: color: var(--color-gray-50);
	}
</style>
