---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'liturgy'>['data'];

const { title, description, week, date } = Astro.props;
---

<html lang="en" data-user-theme="dark">

	<head>
		<BaseHead title={week + ' — ' + title} description={description} />
	</head>

	<body>
		<SiteHeader />

		<main class="site-main">

			<article class="post">
				<header class="post-header">
					<h1 class="post-title">{title}</h1>
					<div class="post-meta">
						{week} <FormattedDate date={date}></FormattedDate>
					</div>
				</header>
				<div class="prose stack">
					<slot />
				</div>
			</article>

		</main>

		<SiteFooter />

	</body>

</html>

<style>
	.post-header {
		max-inline-size: 80ch;
		margin-inline: auto;	
		padding-block-end: var(--space-l);
		text-align: center;
	}

	.post-title {
		font-family: var(--font-display);
		font-size: var(--font-size-3);
		font-weight: 400;
		letter-spacing: var(--letter-spacing);
		text-wrap: balance;

		@media (min-width: 600px) {
			font-size: var(--font-size-4);
		}

		@media (min-width: 750px) {
			font-size: var(--font-size-5);
		}
	}

	.post-meta {
		font-family: var(--font-mono);
		font-size: var(--font-size--1);
		font-weight: 400;
		margin-block-start: var(--space-2xs);

		+ .post-meta {
			margin-block-start: 0;
		}
	}
</style>